<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="__ROOT__/home/Home/Common/main/css/bootstrap-combined.min.css"><!--调用bootstrap-->
    <link href="__ROOT__/home/Home/Common/main/css/main.css" rel="stylesheet" type="text/css" />    <!--调用外部的css样式表-->
    <link href="__ROOT__/home/Home/Common/main/css/single_car.css" rel="stylesheet" type="text/css" /> 
    <script src="__ROOT__/home/Home/Common/main/js/html5shiv.min.js"></script>
    <script src="__ROOT__/home/Home/Common/main/js/respond.min.js"></script>
    <script src="__ROOT__/home/Home/Common/main/js/tinybox.js"></script><!--弹窗的js-->
    <script src="__ROOT__/home/Home/Common/main/js/tab-jquery.min.js"></script>
    <script src="__ROOT__/home/Home/Common/main/js/tabulous.js"></script>
    <script src="__ROOT__/home/Home/Common/main/js/tab-js.js"></script>

    <title>Cargo|汽车网上交易平台</title>
</head>

<body>
<div class="header">
<img src="__ROOT__/home/Home/Common/main/image/run.png"
 width="500px" height="100%">
</div>
<!--
<div class="header_box"> 
    <ol>      
        <li><a href="index.html">网站主页</a></li>
        <li><a href="#">新款上市</a></li>
        <li><a href="#">促销特价</a></li>      
        <li><a href="#">联系我们</a></li>
    </ol>
</div>

-->