<include file="Main:header" /><!--包含到页面头部的标题和导航条-->

<div class="contain"><!--主体容器-->
  <div class="container_left"> <!--左部内容-->
    <div class="left_header">
    <h3>欢迎你，{$account_name}<hr></h3>    
    <h4>
      <form id="search_form" action="__APP__/Home/Car/search" method="get">  
      <?php $url = "__APP__/Home/Car/search?";?>
           <select name="brand">
               <option value="">请选择品牌</option>
               <option value="奔驰">奔驰</option>
               <option value="丰田">丰田</option>
               <option value="福特">福特</option>
               <option value="奥迪">奥迪</option>
               <option value="歌诗图">歌诗图</option>
               <option value="宝马">宝马</option>
               <option value="本田">本田</option>
               <option value="别克">别克</option>
           </select>      
         <span><button type="hidden" class="btn-primary">搜索</button></span>
      </form>
         <table class="table" bgcolor="#E0E0E0" algin="center">
        <tr>
        <td>价格:</td>
        <td><a href="<?php echo $url?>loprice=1&hiprice=5">5万以下</button></td>
        <td><a href="<?php echo $url?>h4loprice=5&hiprice=15">5-15万</a></td>
        <td><a href="<?php echo $url?>h4loprice=15&hiprice=30">15-30万</a></td>
        <td><a href="<?php echo $url?>h4loprice=30&hiprice=60">30-60万</a></td>
        <td><a href="<?php echo $url?>h4loprice=60&hiprice=100">60-100万</a></td>
        <td><a href="<?php echo $url?>h4loprice=100&hiprice=200">100万以上</a></td>   </tr>    
        <tr>
        <td>排量:</td>
        <td><a href="<?php echo $url?>h4displacement=1">1.0L</a></td>
        <td><a href="">1.4-1.6L</a></td>
        <td><a href="<?php echo $url?>h4displacement=2">1.6-2.5L</a></td>
        <td><a href="<?php echo $url?>h4displacement=3">2.5-3.0L</a></td>
        <td><a href="<?php echo $url?>h4displacement=4">3.0-4.0L</a></td>
        <td><a href="<?php echo $url?>h4displacement=4">4.0L以上</a></td>        
      </tr>
      <tr>
        <td>级别:</td>
        <td><a href="<?php echo $url?>h4type=两厢">两厢</a></td>
        <td><a href="<?php echo $url?>h4type=三厢">三厢</a></td>
        <td><a href="<?php echo $url?>h4h4type=豪华车">豪华车</a></td>
        <td><a href="<?php echo $url?>h4h4type=SUV越野车">SUV越野车</a></td>
        <td><a href="<?php echo $url?>h4h4type=MPV商务车">MPV商务车</a></td> 
        <td><a href="<?php echo $url?>h4h4type=新能源">新能源</a></td>
         </tr>       
        <tr>
        <td>变速箱:</td>
        <td><a href="<?php echo $url?>h4gearBox=MT">手动</a>
        <td><a href="<?php echo $url?>h4gearBox=AT">自动</a></td>
        <td><a href="<?php echo $url?>h4gearBox=DSG">双离合</a></td>
        <td><a href="<?php echo $url?>h4gearBox=CVT">CVT无级变速</a></td>
        </tr>      
      </table> 
      </h4>  

    </div>
    <div class="cars">
      <?php $j = 0;?>
       <form id="search_form" action="__APP__/Home/Main/index" method="post">
        <volist name="requests" id="request">
          <div class="car_body">
            <div class='navbar navbar-inverse'>{$request['type']}
              <div class='nav-collapse'>
                <div class="car_image">
                    <a href="__APP__/Home/Single/check/id/{$request['id']}" target="_blank"><img src="{$request['picture']}"></a></li>
                </div>
                <div class="right">
                  <h3>{$request['brand']}{$request['description']}</h3>
                  <p>限量：<strong>{$request['stock']}</strong></p>
                  <!--<p><del>参考价：&yen;480,000</del></p>-->
                  <p>限时特价：<strong>&yen;{$request['price']}万</strong></p>
                  <p>咨询电话：400-8888-888</p>
                  <span><a href="__APP__/Home/Single/check/id/{$request['id']}/name/{$account_name}" class="btn btn-primary btn-lg">仔细看看</a></span>
                  <span><button type="submit" class="btn btn-primary" onclick="">加入收藏</button></span>
                </div>
              </div>
            </div>
          </div>
        </volist>
      </form>
    </div>
    <div> 
      <h4><a href='#'>首页 </a> |
        <a href='#'>上一页 </a> |
        <a href='#'>下一页 </a> |
        <a href='#'>尾页 </a></h4>
    </div>
  </div><!--End container_left-->

  <div class="container_right">
    <include file="Main:login" />      
 </div><!--End container_right-->

</div><!--End contain-->

<!--设置用户点击时的弹窗
<script type="text/javascript">
  
      T$('IndexBuy').onclick = function(){
        var url = "http://"+window.location.hostname+":"+window.location.port+'/cargo1/index.php/Home/Main/order';       
        TINY.box.show(url,1,400,350,1)

        }//弹出填写购车需求的窗口

</script>-->

<div class="clearfix"></div>
<include file="Main:footer" />
