<include file="Main:header" /><!--包含到页面头部的标题和导航条-->

<div class="contain"><!--主体容器-->
  <div class="container_left"> <!--左部内容-->
    <div class="left_header">
    <h4>
      <form id="search_form" action="__APP__/Home/Car/search" method="get">      
           <select name="brand">
               <option value="奔驰">奔驰</option>
               <option value="丰田">丰田</option>
               <option value="骐铃">骐铃</option>
               <option value="奥迪">奥迪</option>
               <option value="阿斯顿·马丁">阿斯顿·马丁</option>
               <option value="宝马">宝马</option>
               <option value="本田">本田</option>
               <option value="别克">别克</option>
           </select>
           <select name="city">
               <option value="">选择车源地</option>
               <option value="北京">北京</option>
               <option value="广州">广州</option>
               <option value="深圳">深圳</option>
               <option value="成都">成都</option>
               <option value="上海">上海</option>
               <option value="东北">东北</option>
               <option value="杭州">杭州</option>
           </select>   
        <input type="text" placeholder="关键词搜索" id="key" name="key" value="">
         </form>     
         <table class="table" bgcolor="#E0E0E0" algin="center">
        <tr>
           <td>价格:</td>
           <td><a href="#">5万以下</a></td>
            <td><a href="#">5-15万</a></td>
            <td><a href="#">15-30万</a></td>
            <td><a href="#">30-60万</a></td>
            <td><a href="#">60-100万</a></td>
            <td><a href="#">100万以上</a></td>           
        </tr>  
        <tr>
          <td>级别:</td>
           <td><a href="#">两厢</a></td>
           <td><a href="#">三厢</a></td>
           <td><a href="#">豪华车</a></td>
           <td><a href="#">新能源</a></td>
           <td><a href="#">SUV越野车</a></td>
           <td><a href="#">MPV商务车</a></td>
         </tr>
        <tr>
           <td>排量:</td>
           <td><a href="#">1.0L以下</a></td>
            <td><a href="#">1.4-1.6L</a></td>
            <td><a href="#">1.6-2.5L</a></td>
            <td><a href="#">2.5-4.0L</a></td>
            <td><a href="#">4.0L以上</a></td>           
        </tr>
        <tr>
           <td>变速箱:</td>
           <td><a href="#">手动</a>
           <td><a href="#">自动</a></td>
           <td><a href="#">手自一体</a></td>
           <td><a href="#">双离合</a></td>
           <td><a href="#">CVT无级变速</a></td>
        </tr>      
      </table> 
      </h4>  
    </div>
    <div class="cars">
      <?php $j = 0;?>
       <form id="search_form" action="__APP__/Home/Main/index" method="post">
        <volist name="requests" id="request">
          <div class="car_body">
            <div class='navbar navbar-inverse'>
              <div class='nav-collapse'>
                <div class="car_image">
                    <a href="#" target="_blank">{$request['picture']}</a></li>
                </div>
                <div class="right">{$request['id']}
                    <h3>{$request['description']}</h3>
                    <p>车源所在地：四川- 成都市</p>
                    <p>限量：<strong>{$request['stock']}</strong></p>
                    <p>咨询电话：<strong>400-8888-888</strong></p>
                    <p><del>参考价：&yen;{$request['price']}</del></p>
                    <p>限时特价：&yen;<strong>480,000</strong></p>
                    <span><button type="submit" class="btn btn-primary btn-lg" id="order<?=$j++;?>">我要买</button></span>
                    <span><button type="submit" class="btn btn-primary" onclick="">加入收藏</button></span>
                </div>
              </div>
            </div>
          </div>
        </volist>
      </form>
    </div>
    <div> 
      <h4><a href='#'>首页 </a> |
        <a href='#'>上一页 </a> |
        <a href='#'>下一页 </a> |
        <a href='#'>尾页 </a></h4>
    </div>
  </div><!--End container_left-->

  <div class="container_right">
    <include file="Main:login" />      
 </div><!--End container_right-->

</div><!--End contain-->

<!--设置用户点击时的弹窗-->
<script type="text/javascript">

      for (var i = 0; i < 5; i++) {
        var name = 'order'+i;
        T$(name).onclick = function(){
        TINY.box.show('order.html',1,400,350,1)
        }//弹出填写购车需求的窗口
      };     
</script>

<div class="clearfix"></div>
<include file="Main:footer" />
