<include file="common:common" />
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
        <!-- Page Head -->
    <h2>车讯管理</h2>

    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>修改车讯</h3>
        <ul class="content-box-tabs">
          <!--<li><a href="#tab1" class="default-tab">Table</a></li>-->
          <!-- href must be unique and match the id of target div -->
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
          <form action="__APP__/Home/Car/modify" method="post">
          <!--<h4>添加管理员</h4>-->
          <fieldset>
            <div><label>车讯ID：{$request['car_id']}<input type="hidden" name="car_id" id="car_id" value="{$request['car_id']}"></label><br>
            <div><label>发车时间：<input type="text" name="car_time" id="car_time" placeholder="日期(xxxx-xx-xx xx:xx:xx)" value="{$request['car_time']}"></label></div><br>
            <div><label>起点：
              <select name="car_startP" id="car_startP">
                <option selected="selected" value="{$request['car_startP']}">{$places[$request['car_startP']]['place_name']}</option>
                <volist name="places" id="place">
                  <?php if($place['place_id'] != $request['car_startP']){ ?>
                <option value="{$place['place_id']}">{$place['place_name']}</option>
                  <?php } ?>
                </volist>
              </select>
            </div><br>
            <div><label>终点：
              <select name="car_endP" id="car_endP">
                <option selected="selected" value="{$request['car_endP']}">{$places[$request['car_endP']]['place_name']}</option>
                <volist name="places" id="place">
                  <?php if($place['place_id'] != $request['car_endP']){ ?>
                <option value="{$place['place_id']}">{$place['place_name']}</option>
                  <?php } ?>
                </volist>
              </select>
            </label></div><br>
            <div><label>座位数：<input type="text" name="car_seats" id="car_seats" required="required" placeholder="请输入座位数" value="{$request['car_seats']}"></label></div><br>
            <div><label>票价：<input type="text" name="car_price" id="car_price" required="required" placeholder="请输入票价" value="{$request['car_price']}"></label></div><br>
             <div><label>车牌号码：<input type="text" name="car_plate" id="car_plate" placeholder="请输入车牌号码" value="{$request['car_plate']}"></label></div><br>
            <div>
              <label>验证码：<input type="text" name="verify" required="required" placeholder="请输入验证码"></label>
              <img style="height: 20%; width: 20%;" src="__APP__/Home/Admin/showVerify" onclick="">
            </div><br>
          <input class="button" type="submit" value="创建车讯" />
          </fieldset>
        </form>
        </div>
        <!-- End #tab1 -->
        
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
<include file="common:footer" />