        <div class="header" id="top">
            <!--header开始-->
            <div class="headercenter">
                <div class="headerlog">
                    <div style="float: left; vertical-align: text-bottom;">
                        <img id="indexlogo" src="__ROOT__/home/Home/Common/adv/image//changeskinlogo.png" title="logo"></div>
                    <!--<a style="margin-left: 30px" target="_blank" href="App/Download">
                        <img id="img_logo_right" src="image/mfgappadv.gif"></a>  -->
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>