<include file="common:common" />
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
        <!-- Page Head -->
    <h2>{$Title}</h2>

    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>{$title}</h3>
        <ul class="content-box-tabs">
          <!--<li><a href="#tab1" class="default-tab">Table</a></li>-->
          <!-- href must be unique and match the id of target div -->
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
          <form action="__APP__/Home/Adv/{$action}" method="post" class="contentform" enctype="multipart/form-data">
            <!--要使用上传功能 你的表单需要设置 enctype="multipart/form-data"-->
          <!--<h4>添加管理员</h4>-->
          <fieldset>
            <?php
            if(isset($request)){
            ?>  

            <input type="hidden" name="id" id="id" value="{$request['id']}">
            <?php
            }
            ?>
            <?php 
              function get_number_inputs($arr,$len,$request){
                foreach($arr as $name=>$value){
                  $str = '
            <p>
            <label>'.$value.'</label>
            <input class="text-input" required="required" type="number"';
            
                if($len[$name]){
                  $str .= ' min="'.$len[$name]['min'].'" max="'.$len[$name]['max'].'"';

                }else{
                  $str .= ' min="1"';
                }
            
                $str .= ' name="'.$name.'" id="'.$name.'" value="'.$request[$name].'">
            </p>
            <div class="clear"></div>
            <p>';
                echo $str;
                }

              }//get_number_input
              function get_text_inputs($arr,$request){
                foreach($arr as $name=>$value){
                  $str = '
            <p>
            <label>'.$value.'</label>
            <input class="text-input" required="required" type="text" name="'.$name.'" id="'.$name.'" value="'.$request[$name].'" >
            </p>
            <div class="clear"></div>
            ';
                  echo $str;
                }
              }

              function get_select_inputs($arr,$option,$request){
                foreach($arr as $name=>$value){
                  $str = '
            <p>
            <label>'.$value.'</label>
            <select name="'.$name.'" id="'.$name.'">';
                  foreach($option[$name] as $v){
                    if($v == $reuqest[$name]){
                      $str .='<option value="'.$v.'" selected="selected">'.$v.'</option>';
                      continue;
                    }
                    $str .='<option value="'.$v.'">'.$v.'</option>';
                  } 
                  $str .='</select>
            </p>
            <div class="clear"></div>';
                  echo $str;
                }
              }

              $arr = array(
                'link'=>'单页链接',
                'word'=>'文案'
              );
              get_text_inputs($arr,$request);


              $arr = array(
         //       'state'=>'状态',
                'position'=>'广告位置'
                );
              $option= array(
            //    'state'=>array('APPLY','APPROVAL','FAIL','REVOKE','EXPIRED'),
                'position'=>array('HOME','TOP','SIDE')
                );
              get_select_inputs($arr,$option,$request);

            ?>

            <p>
              <label>图片:</label>
              <input type="file" name="photo" id="photo" requested="requested">
            </p>
            <div class="clear"></div>
            <p>
              <label>验证码:</label>
              <img style="height: 30%; width: 30%;" src="__APP__/Home/Admin/showVerify" onclick="">
              <input class="text-input small-input" type="text" name="verify" id="verify">   
            </p>
            <div class="clear"></div>
            
          <input class="button" type="submit" value="{$submitName}" />
          </fieldset>
        </form>
        </div>
        <!-- End #tab1 -->
        
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
<include file="common:footer" />