<include file="common:common" />
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
        <!-- Page Head -->
    <h2>地点管理</h2>

    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>修改地点</h3>
        <ul class="content-box-tabs">
          <!--<li><a href="#tab1" class="default-tab">Table</a></li>-->
          <!-- href must be unique and match the id of target div -->
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
          <form action="__APP__/Home/Place/modify" method="post">
          <!--<h4>添加管理员</h4>-->
          <fieldset>
            <div><label>地点ID：{$request['place_id']}<input type="hidden" name="place_id" id="place_id" value="{$request['place_id']}"></label></div><br>
            <div><label>地点名称：<input type="text" name="place_name" id="place_name" required="required" placeholder="请输入地点名称" value="{$request['place_name']}" ></label></div><br>
            <div><label>地点提示：<input type="text" name="place_tip" id="place_tip" placeholder="请输入地点提示" value="{$request['place_tip']}" ></label></div><br>
            <div>
              <label>验证码：<input type="text" name="verify" required="required" placeholder="请输入验证码"></label>
              <img style="height: 20%; width: 20%;" src="__APP__/Home/Admin/showVerify" onclick="">
            </div><br>
          <input class="button" type="submit" value="保存更改" />
          </fieldset>
        </form>
        </div>
        <!-- End #tab1 -->
        
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
<include file="common:footer" />