
body{
    background-color: #E0E0E0;
}
.header{             /*头部标题*/
    width:100%;
    height:5%;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.header_box{        /*导航框*/
    text-align: center;
    height:2%;
    width:100%;
    font-size: 2em;
    font-weight: bold;
}
.contain{  /*主体部分容器，包括左大容器和右大容器*/
    margin-top: 5px;
    width: 100%;
    height: 99%;
}

.container_left{        /*左大容器*/
    background-color: white;
    float: left;
    margin: 3px;
    padding: 5px;/*左右宽度相同*/
    width: 70%;
    height: 100%;
    text-align: center;
}
.clearfix{          /*清除浮动*/
    clear:both;
}
.left_header{       /*左容器头部*/
    border:2px solid #aaa;
    width: 96%;
    height: 18%;
    margin: 3px;
    padding: 5px;
    font-family: "Time New Roman";
    font-size: 1.8em;
    text-align: center;
}
.car_body{      /*汽车部分*/
    margin: 5px;
    padding: 8px;
    border:2px solid #aaa;
    width: 95%;
    height: 18%;
    float:left;
}
.car_image{     /*汽车图片*/
    float: left;
    width: 40%;
    height:30%;
}
.clearfix{
 clear:both;
}
.right{     /*汽车描述*/
    float: right;
    width: 55%;
    height: 12%;
    font-family: "courier";
    font-size: 1.7em;
}
.clearfix{
 clear:both;
}
.container_right{    /*右部容器*/
    float: right;
    width: 26%;
    height: 90%;
    padding-right: 10px;
    font-family: "微软雅黑";
}
.clearfix{
 clear:both;
}
.footer{        /*页脚*/
    width: 100%;
    height: 30%;
    font-size:1.7em;
    text-align:center;
    line-height:20px;
}
 .login{        /*登录注册时的css*/
    border: 3px;
    margin-top: 3px;
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
    text-align: center;
    font-size: 1.2em;
}
h1,h2,h3,h4{
    font-family: "verdana";
    font-weight: bolder;
}
ol{
    list-style-type:none; 
}
li{
    display: inline;
    padding-left: 1.5em;
}
td{
    padding-left: 6px;
    font-weight: bold;
}
/*弹窗的css*/
#tinybox{
    position:absolute; 
    display:none; 
    padding:10px; 
    background:#FFFFFF url(run.png) no-repeat 50% 50%; 
    border:5px solid #e3e3e3; 
    z-index:2000;
}
#tinymask{
    position:absolute; 
    display:none; 
    top:0; 
    left:0; 
    height:100%; 
    width:100%; 
    background:#000000; 
    z-index:1500;
}
#tinycontent{
    background:#FFFFFF; 
    font-size:1.2em;
}
