

body{margin:0px;padding:0px;z-index:-5;height:100%;width:auto; background:#002a38;font-family:"微软雅黑"; font-size:15px;_background: url(img/ie6bg.gif); _background-attachment: fixed;}

a{text-decoration:none;  cursor:pointer }
img {border:none}

.clearfix{clear:both;height:1px;margin-top:-1px;overflow:hidden}
.header{line-height: 1;position: fixed;top: 0;left: 0;right: 0;width: 100%;z-index: 10; background:#002a38; _position:absolute;_bottom: auto;_top: expression(eval(document.documentElement.scrollTop)); _position:absolute;_Left:expression(eval(document.documentElement.scrollLeft));}
.headercenter{padding: 0 15px 0 15px;margin: 0 auto 7px auto;overflow: hidden;height:60px;padding-top:40px; }
.headerlog{ float:left;position:absolute; left:80px;}
.headerright{  float:right;right:80px;position:absolute;}
.headerright a{margin-right:20px; vertical-align:middle;display:inline-block;cursor:pointer;_display:inline;line-height:60px;color:#fff }
   .headerright a img {
        vertical-align: middle;
    }
.wrapper{margin:0;padding:114px 0px 1px 0px;position:absolute; z-index:0; max-height:750px;color:#fff;}
.wrappercenter{margin:0 auto ;padding:0; padding-left:80px;}
.group{position:relative;padding:0;float:left; overflow:hidden;z-index:3;box-shadow:0px 0px 10px  3px #001d27; border:solid #001d27 1px;cursor:pointer}
.group:hover{-moz-box-shadow:0px 0px 3px  10px #fff;
      -webkit-box-shadow:0px 0px 10px  3px #FFF;
        box-shadow:0px 0px 10px  3px #fff; border:solid #fff 1px; }
        
.bottom{position:absolute;left:0;bottom:0;z-index:11;height:auto;display:inline-block;text-align:left;padding:0 0 3% 5%;color:#fff}
.slider{position:absolute;right:0px;height:100%;width:100%;cursor: pointer; z-index:6;-moz-transition-property:right;}
.hiddenword{padding:10% 10%;font-size: 16px;position:relative; text-align:left;line-height:1.5;text-indent: 0em;color:#fff}

body .A_link11,body .A_link31,.A_linkrightbg{background:#476570;cursor:pointer;}
.A_linkright a{color:#fff}
.A_linkafter{background:#476570;}
.A_link1 img, .A_link2 img,.A_link3 img{ position:absolute;}


.right{float:right;display:block}
.A_Fbtm{z-index:4; opacity:1; filter:alpha(opacity=100);-moz-opacity:1;color:#fff}
.A_Ftop{z-index:6;opacity:0; filter:alpha(opacity=0);-moz-opacity:0; text-align:center;background-color:rgb(82,56,49);text-align:left; }

.A_copyright a{color:#fff}
.rel{position:relative}
.red{color:Red}
/*背景色选择*/
.bgB{background:#00bfff;}
.bgG{background:#78ba00}
.bgR{background:#fe2e64;}
.bgY{background:#ff8000}
.bgP{background:#b01e00}
.bgO{background:#691bb8}

/*背景图片A组*/
 .A_wrappermain .A1,.A_wrappermain .A2,.A_wrappermain .A3,.A_wrappermain .A4,.A_wrappermain .A5,.A_wrappermain .A6,.A_wrappermain .A7,.A_wrappermain .A8,.A_wrappermain .A9,.A_wrappermain .A10,.A_wrappermain .A11,.A_wrappermain .A12,.A_wrappermain .A13,.A_wrappermain .A14,.A_wrappermain .A15,.A_wrappermain .A16,.A_wrappermain .A17,.A_wrappermain .A18,.A_wrappermain .A19,.A_wrappermain .A20,.A_wrappermain .A21,.A_wrappermain .A22,.A_wrappermain .A23,.A_wrappermain .A24,.A_wrappermain .A25{width:150px; height:140px; background:url(img/tu11.png?v=1.4) no-repeat; display:block;  text-decoration:none;}
	 .A_wrappermain .A1{background-position:0 0;}
	 .A_wrappermain .A2{background-position: -155px 0;}
	 .A_wrappermain .A3{background-position:-325px 0;}
	 .A_wrappermain .A4{background-position:-505px 0;}
	 .A_wrappermain .A5{background-position:-708px 0;}
	 .A_wrappermain .A6{background-position:0 -175px;}
	 .A_wrappermain .A7{background-position: -145px -175px;}
	 .A_wrappermain .A8{background-position:-345px -175px;}
	 .A_wrappermain .A9{background-position:-520px -175px;}
	 .A_wrappermain .A10{background-position:-705px -175px;}
	 .A_wrappermain .A11{background-position:0 -355px;}
	 .A_wrappermain .A12{background-position: -165px -355px;}
	 .A_wrappermain .A13{background-position:-345px  -355px;}
	 .A_wrappermain .A14{background-position:-525px  -355px;}
	 .A_wrappermain .A15{background-position:-705px  -355px;}
	 .A_wrappermain .A16{background-position:11px -530px;}
	 .A_wrappermain .A17{background-position:-165px -530px}
	 .A_wrappermain .A18{background-position:-345px -530px}
	 .A_wrappermain .A19{background-position:-525px -530px}
	 .A_wrappermain .A20{background-position:-690px -530px}
	  .A_wrappermain .A21{background-position:0px -710px}
	   .A_wrappermain .A22{background-position:-165px -710px}/*kongjian*/
	   .A_wrappermain .A23{background-position:-347px -710px}/*peizhi*/
	    .A_wrappermain .A24{background-position:-533px -710px}/*BXT*/
	       .A_wrappermain .A25{background-position:-690px -710px}/*BXT*/
	      
 /*B组背景图片*/
	  .B_wrappermain .A1,.B_wrappermain .A2,.B_wrappermain .A3,.B_wrappermain .A4,.B_wrappermain .A5,.B_wrappermain .A6,.B_wrappermain .A7,.B_wrappermain .A8,.B_wrappermain .A9,.B_wrappermain .A10,.B_wrappermain .A11,.B_wrappermain .A12,.B_wrappermain .A13,.B_wrappermain .A14,.B_wrappermain .A15,.B_wrappermain .A16,.B_wrappermain .A17,.B_wrappermain .A18,.B_wrappermain .A19,.B_wrappermain .A20,.B_wrappermain .A21,.B_wrappermain .A22,.B_wrappermain .A23,.B_wrappermain .A24,.B_wrappermain .A25{width:100px; height:97px; background:url(img/tu22.png?v=1.4) no-repeat; display:block;  text-decoration:none;}
	 .B_wrappermain .A1{background-position:0 0;}
	 .B_wrappermain .A2{background-position: -105px 0;}
	 .B_wrappermain .A3{background-position:-215px 0;}
	 .B_wrappermain .A4{background-position:-330px 0;}
	 .B_wrappermain .A5{background-position:-465px 0;}
	 .B_wrappermain .A6{background-position:0 -110px;}
	 .B_wrappermain .A7{background-position: -98px -110px;}
	 .B_wrappermain .A8{background-position:-225px -110px;}
	 .B_wrappermain .A9{background-position:-340px -110px;}
	 .B_wrappermain .A10{background-position:-460px -110px;}
	 .B_wrappermain .A11{background-position:0 -225px;}
	 .B_wrappermain .A12{background-position: -109px -225px;}
	 .B_wrappermain .A13{background-position:-225px -230px;}
	 .B_wrappermain .A14{background-position:-343px -230px;}
	 .B_wrappermain .A15{background-position:-460px -230px;}
	 .B_wrappermain .A16{background-position:10px -345px;}
	 .B_wrappermain .A17{background-position: -107px -345px}
	 .B_wrappermain .A18{background-position:-225px -345px}
	 .B_wrappermain .A19{background-position:-343px -345px}
	 .B_wrappermain .A20{background-position:-455px -345px}
	 .B_wrappermain .A21{background-position:0px -460px}
	  .B_wrappermain .A22{background-position:-107px -465px}
	 .B_wrappermain .A23{background-position:-228px -465px}
	  .B_wrappermain .A24{background-position:-345px -465px}
	 .B_wrappermain .A25{background-position:-455px -465px}
	 /*C组背景图片*/
	  .C_wrappermain .A1,.C_wrappermain .A2,.C_wrappermain .A3,.C_wrappermain .A4,.C_wrappermain .A5,.C_wrappermain .A6,.C_wrappermain .A7,.C_wrappermain .A8,.C_wrappermain .A9,.C_wrappermain .A10,.C_wrappermain .A11,.C_wrappermain .A12,.C_wrappermain .A13,.C_wrappermain .A14,.C_wrappermain .A15,.C_wrappermain .A16,.C_wrappermain .A17,.C_wrappermain .A18,.C_wrappermain .A19,.C_wrappermain .A20,.C_wrappermain .A21,.C_wrappermain .A22,.C_wrappermain .A23,.C_wrappermain .A24,.C_wrappermain .A25{width:80px; height:75px;  background:url(img/tu33.png?v=1.4) no-repeat; display:block;  text-decoration:none; }
	 .C_wrappermain .A1{background-position:0 0;}
	 .C_wrappermain .A2{background-position: -80px 0;}
	 .C_wrappermain .A3{background-position:-170px 0;}
	 .C_wrappermain .A4{background-position:-265px 0;}
	 .C_wrappermain .A5{background-position:-362px 0;}
	 .C_wrappermain .A6{background-position:0 -90px;}
	 .C_wrappermain .A7{background-position: -75px -90px;}
	 .C_wrappermain .A8{background-position:-175px -90px;}
	 .C_wrappermain .A9{background-position:-265px -90px;}
	 .C_wrappermain .A10{background-position:-356px -90px;}
	 .C_wrappermain .A11{background-position:0 -180px;}
	 .C_wrappermain .A12{background-position: -84px -180px;}
	 .C_wrappermain .A13{background-position:-175px -182px;}
	 .C_wrappermain .A14{background-position:-267px -181px;}
	 .C_wrappermain .A15{background-position:-358px -180px;}
	 .C_wrappermain .A16{background-position:6px -272px;}
	 .C_wrappermain .A17{background-position: -80px -271px}
	 .C_wrappermain .A18{background-position:-175px -274px}
	 .C_wrappermain .A19{background-position:-265px -270px}
	 .C_wrappermain .A20{background-position:-350px -270px}
	 .C_wrappermain .A21{background-position:0px -360px}
	  .C_wrappermain .A22{background-position:-90px -360px}
	 .C_wrappermain .A23{background-position:-175px -360px}
	  .C_wrappermain .A24{background-position:-270px -360px}
	.C_wrappermain .A25{background-position:-350px -360px}/*作文*/
	 
	 /*D组背景图片*/
	  .D_wrappermain .A1,.D_wrappermain .A2,.D_wrappermain .A3,.D_wrappermain .A4,.D_wrappermain .A5,.D_wrappermain .A6,.D_wrappermain .A7,.D_wrappermain .A8,.D_wrappermain .A9,.D_wrappermain .A10,.D_wrappermain .A11,.D_wrappermain .A12,.D_wrappermain .A13,.D_wrappermain .A14,.D_wrappermain .A15,.D_wrappermain .A16,.D_wrappermain .A17,.D_wrappermain .A18,.D_wrappermain .A19,.D_wrappermain .A20,.D_wrappermain .A21,.D_wrappermain .A22,.D_wrappermain .A23,.D_wrappermain .A24,.D_wrappermain .A25{width:80px; height:75px;  background:url(img/tu33.png?v=1.4) no-repeat; display:block;  text-decoration:none;}
	 .D_wrappermain .A2{background-position: -80px 0;}
	 .D_wrappermain .A3{background-position:-170px 0;}
	 .D_wrappermain .A4{background-position:-265px 0;}
	 .D_wrappermain .A5{background-position:-362px 0;}
	 .D_wrappermain .A6{background-position:0 -90px;}
	 .D_wrappermain .A7{background-position: -75px -90px;}
	 .D_wrappermain .A8{background-position:-175px -90px;}
	 .D_wrappermain .A9{background-position:-265px -90px;}
	 .D_wrappermain .A10{background-position:-360px -90px;}
	 .D_wrappermain .A11{background-position:0 -180px;}
	 .D_wrappermain .A12{background-position: -84px -180px;}
	 .D_wrappermain .A13{background-position:-175px -182px;}
	 .D_wrappermain .A14{background-position:-267px -181px;}
	 .D_wrappermain .A15{background-position:-358px -180px;}
	 .D_wrappermain .A16{background-position:8px -272px;}
	 .D_wrappermain .A17{background-position: -80px -271px}
	 .D_wrappermain .A18{background-position:-175px -274px}
	 .D_wrappermain .A19{background-position:-265px -270px}
	 .D_wrappermain .A20{background-position:-350px -270px}
	 .D_wrappermain .A21{background-position:0px -360px}
	 .D_wrappermain .A22{background-position:-90px -360px}
	 .D_wrappermain .A23{background-position:-175px -360px}
	  .D_wrappermain .A24{background-position:-270px -360px}
	  .D_wrappermain .A25{background-position:-350px -360px}

/* A组样式*/

.A_wrappermain{ width:4773px;position:relative; z-index:0;_width:3997px;height:805px;overflow:hidden}
.A_wrappermain .ulandright{width:5196px;height:760px;*height:805px;_width:4332px;_height:770px}
.A_wrappermain .uldaceng{width:4773px; height:100%; list-style:none;margin:0;position:relative;padding:30px 0px 0px 0px;z-index: 2;float:left;_width:4010px}
.A_wrappermain .uldaceng li{float:left; margin-right:30px; margin-bottom:20px}
.A_wrappermain .A_tile{font-size:23px; text-align:left; display:inline-block;line-height:40px;margin:0;font-weight:normal;color:#fff}
.A_wrappermain .A_bottom{font-size:20px; }
.A_wrappermain .A_righthidden{position: absolute;right: 0;height: 100%;background-color:rgb(82, 56, 49);display: block;float: right;text-align: right;z-index: 4;width:50%;_right:-1px}
.A_wrappermain .A_bg{ position:relative;margin-left:-75px; margin-top:-70px; top:50%; left:50%;}
.A_wrappermain .A_group,.A_wrappermain .A_change{height:230px;margin:0 10px 10px 0;}
.A_wrappermain .A_group{width:472px;}
.A_wrappermain .A_change{ width:230px;}
.A_wrappermain .A_Fbtm,.A_wrappermain .A_Ftop{height:100%;width:100%; position:absolute}
.A_wrappermain .A_link11,.A_wrappermain .A_link31,.A_wrappermain .A_link1,.A_wrappermain .A_link2,.A_wrappermain .A_link3{margin-bottom:40px;width:35px; height:28px;padding:20px 30px }
.A_wrappermain .A_linkafter{margin-bottom:40px;width:35px; height:28px;padding:20px 30px }
.A_wrappermain .A_linkleft{ padding:195px 0; float:left;background:#1a3f4c}
.A_wrappermain .A_linkright{float:left;height:654px;position:relative;margin-top:70px;font-size:15px; line-height:35px;}
.A_wrappermain .A_linkrightbg{position:absolute;top:0; left:0; width:100%;height:100px ;z-index:20px;width:330px;}
.A_wrappermain .A_linkright .linkfloat a {display:block; margin-bottom:5px;margin-right:30px; line-height:20px;text-align:left; cursor:pointer;font-size:15px}
.A_wrappermain .left{float:left;display:block;position:absolute;top:785px;line-height:50px;font-size:17px; }
.A_wrappermain .A_copyright{line-height:50px; font-size:17px;position:absolute;right:0;top:785px }
.A_wrappermain .sub{padding:0px 40px}
.A_wrappermain .li1{width:762px;} 
.A_wrappermain .li2{width:512px}
.A_wrappermain .li3{width:1605px;_width:829px}
.A_wrappermain .h4leftbot{float:left; width:726px;}
.A_wrappermain .h4rightbot{float:left; width:95px;height:100%; margin-bottom:20px}
.A_wrappermain .gaodu{_height:720px;_overflow:hidden}
.A_wrappermain .A_linkrightbg{position:absolute;top:0; left:0; width:100%;height:100px ;z-index:20px;height:712px;width:480px}

.A_wrappermain .touming{ position:absolute;top:0; left:0; width:100%;height:100px;padding:30px 0px 30px 30px;width:420px;z-index:30px; }
.A_wrappermain .linkfloat{float:left; width:140px; }
 .A_wrappermain .mt{margin-top:35px}
 .A_wrappermain .radioImg{width:714px;margin-right:10px}
.A_wrappermain .radioDiv{float:left;width:724px;overflow:hidden;padding-left:60px;position:relative}
.A_wrappermain .h4rightbot{margin-top:40px}


.A_wrappermain .radioCont{padding:0 ;margin-top:-110px;text-align:center;width:714px}
.A_wrappermain .radioCont input{height:50px;line-height:50px;padding-left:5px;border:0; padding:0;}
.A_wrappermain .indexNum{background:#fff; font-size:16px;color:#787878;width:160px;margin-right:15px;vertical-align:middle}
.A_wrappermain .indexSubmit{background:#fca000 url(img/indexSub.png) 100px center no-repeat;width:120px;padding-right:30px;text-align:center;line-height:50px;display:inline-block;*display:inline;zoom:1;color:#fff;vertical-align:middle;font-size:20px}
.A_wrappermain .indexnoSubmit{background:#6a6967 url(img/indexSub.png) 100px center no-repeat;width:120px;padding-right:30px;text-align:center;line-height:50px;display:inline-block;*display:inline;zoom:1;color:#fff;vertical-align:middle;font-size:20px}
.A_wrappermain  .indexYzm{width:120px;font-size:16px;color:#787878;margin-right:15px;vertical-align:middle}
.A_wrappermain  .yzmImg{width:90px;height:50px;vertical-align:middle;margin-right:15px;}
.A_wrappermain .radiotip{text-align:center;padding-bottom:20px}
.A_wrappermain .radiotip2{margin-left:230px}


/* B组样式*/
.B_wrappermain{position:relative;width:3393px;height:610px; z-index:0; _width:2836px;overflow:hidden}/* */
.B_wrappermain .ulandright{width:3670px;height:544px;_width:3130px;*height:574px;_height:534px}/**/
.B_wrappermain .uldaceng{ height:100%; list-style:none;margin:0;position:relative;width:3393px;padding:20px 0px 15px 0px;z-index: 2;float:left;_width:2847px;}/**/
.B_wrappermain .uldaceng li{float:left; margin-right:30px;margin-bottom:15px}
.B_wrappermain .A_tile{font-size:20px; text-align:left; display:inline-block;line-height:40px;margin:0;font-weight:normal}
.B_wrappermain .A_bottom{font-size:17px; }
.B_wrappermain .A_righthidden{position: absolute;right: 0;height: 100%;background-color:rgb(82, 56, 49);display: block;float: right;text-align: right;z-index: 

4;width:50%;_right:-1px}
.B_wrappermain .A_bg{ position:relative;margin-left:-50px; margin-top:-49px; top:50%; left:50%;}
.B_wrappermain .A_group,.B_wrappermain .A_change{height:160px;margin:0 9px 9px 0}
.B_wrappermain .A_group{width:331px;}
.B_wrappermain .A_change{ width:160px}
.B_wrappermain .A_Fbtm,.B_wrappermain .A_Ftop{height:100%;width:100%; position:absolute;}
.B_wrappermain .A_link11,.B_wrappermain .A_link31,.B_wrappermain .A_link1,.B_wrappermain .A_link2,.B_wrappermain .A_link3{margin-bottom:28px;width:35px; height:28px;padding:13px 20px }
.B_wrappermain .A_linkafter{margin-bottom:28px;width:35px; height:28px;padding:13px 20px }
.B_wrappermain .A_linkleft{ padding:129px 0; float:left; background:#1a3f4c}
.B_wrappermain .A_linkright{float:left;height:472px;position: relative;margin:60px 0px 0px 0px;font-size:13px;line-height:30px;}
.B_wrappermain .A_linkright .linkfloat a {display:block; margin-bottom:3px;margin-right:25px; line-height:17px;text-align:left; cursor:pointer;font-size:13px;width:100px}
.B_wrappermain .sub{padding:0px 30px}
.B_wrappermain .left{float:left;display:block;position:absolute;top:585px;line-height:30px;font-size:14px; }
.B_wrappermain .A_copyright{line-height:30px;font-size:14px;height:36px;position:absolute;right:0;top:585px }
.B_wrappermain .A_linkfont{font-size:20px}
.B_wrappermain .li1{width:530px} 
.B_wrappermain .li2{width:360px}
.B_wrappermain .li3{ width:1153px;_width:595px}
.B_wrappermain .h4leftbot{float:left; width:513px}
.B_wrappermain .h4rightbot{float:left; width:75px; height:100%;margin-bottom:10px}
.B_wrappermain .gaodu{_height:500px;_overflow:hidden}
.B_wrappermain .A_linkrightbg{position:absolute;top:0; left:0; width:100%;height:100px ;z-index:20px;height:502px;width:425px}

.B_wrappermain .touming{ position:absolute;top:0; left:0; width:100%;height:100px;padding:15px 0px 15px 25px;width:380px;z-index:30px; }
.B_wrappermain .linkfloat{float:left; width:125px; }
 .B_wrappermain .mt{margin-top:35px}
 .B_wrappermain .radioImg{width:505px;margin-right:10px}
.B_wrappermain .radioDiv{float:left;width:515px;overflow:hidden;padding-left:50px;position:relative}
.B_wrappermain .h4rightbot{margin-top:40px}


.B_wrappermain .radioCont{padding:0 ;margin-top:-90px;text-align:center;width:505px}
.B_wrappermain .radioCont input{height:40px;line-height:40px;padding-left:5px;border:0; padding:0;}
.B_wrappermain .indexNum{background:#fff; font-size:14px;color:#787878;width:120px;margin-right:10px;vertical-align:middle}
.B_wrappermain .indexSubmit{background:#fca000 url(img/indexSub.png) 80px center no-repeat;width:90px;padding-right:30px;text-align:center;line-height:40px;display:inline-block;*display:inline;zoom:1;color:#fff;vertical-align:middle;font-size:18px}
.B_wrappermain .indexnoSubmit{background:#6a6967 url(img/indexSub.png) 80px center no-repeat;width:90px;padding-right:30px;text-align:center;line-height:40px;display:inline-block;*display:inline;zoom:1;color:#fff;vertical-align:middle;font-size:18px}
.B_wrappermain  .indexYzm{width:90px;font-size:14px;color:#787878;margin-right:10px;vertical-align:middle}
.B_wrappermain  .yzmImg{width:70px;height:40px;vertical-align:middle;margin-right:10px;}
.B_wrappermain .radiotip{text-align:center;padding-bottom:10px}
.B_wrappermain .radiotip2{margin-left:155px}

/* C组样式*/

.C_wrappermain{width:2567px;position:relative; z-index:0;_width:2154px;height:453px;overflow:hidden}
.C_wrappermain .ulandright{width:2868px;height:423px;_width:2455}
.C_wrappermain .uldaceng{ height:100%;width:1280px; list-style:none;margin:0;position:relative;padding:0px;z-index: 2;float:left;_width:2154px;}
.C_wrappermain .uldaceng li{float:left; margin-right:16px;margin-bottom:10px}
.C_wrappermain .A_tile{font-size:17px; text-align:left; display:inline-block;line-height:40px;margin:0;font-weight:normal;}
.C_wrappermain .A_bottom{font-size:13px; }
.C_wrappermain .A_righthidden{position: absolute;right: 0;height: 100%;background-color:rgb(82, 56, 49);display: block;float: right;text-align: right;z-index: 4;width:50%;_right: -1px;}
.C_wrappermain .A_bg{ position:relative;margin-left:-40px; margin-top:-37px; top:50%; left:50%;}
.C_wrappermain .A_group,.C_wrappermain .A_change{height:120px;margin:0 5px 5px 0}
.C_wrappermain .A_group{width:247px;}
.C_wrappermain .A_change{width:120px}
.C_wrappermain .A_Fbtm,.C_wrappermain .A_Ftop{height:100%;width:100%; position:absolute}
.C_wrappermain .A_link11,.C_wrappermain .A_link31,.C_wrappermain .A_link1,.C_wrappermain .A_link2,.C_wrappermain .A_link3{margin-bottom:24px;width:35px; height:28px;padding:10px 16px }
.C_wrappermain .A_linkafter{margin-bottom:24px;width:35px; height:28px;padding:10px 16px }
.C_wrappermain .A_linkleft{ padding:80px 0; float:left; background:#1a3f4c}
.C_wrappermain .A_linkright{float:left;height:346px;position:relative; margin-top:40px;font-size:11px;line-height:20px;}
.C_wrappermain .A_linkright .linkfloat a {display:block; margin-bottom:5px;margin-right:15px; line-height:14px;text-align:left; cursor:pointer;font-size:11px; width:90px}
.C_wrappermain .left{float:left;display:block;position:absolute;top:423px ;line-height:30px; font-size:10px;}

.C_wrappermain .A_copyright{line-height:30px;font-size:10px;position:absolute;right:0;top:423px }
.C_wrappermain .A_linkfont{font-size:17px}
.C_wrappermain .li1{width:407px;} 
.C_wrappermain .li2{width:277px}
.C_wrappermain .li3{width:875px; _width:460px}
.C_wrappermain .h4leftbot{float:left; width:383px}
.C_wrappermain .h4rightbot{float:left; width:67px;height:100%;margin-bottom:5px}
.C_wrappermain .gaodu{_height:380px;_overflow:hidden;padding:0}
.C_wrappermain .A_linkrightbg{position:absolute;top:0; left:0; width:100%;height:100px ;z-index:20px;height:376px; width:340px}

.C_wrappermain .touming{ position:absolute;top:0; left:0; width:100%;height:100px;padding:15px 0px 15px 15px;width:320px;z-index:30px; }
.C_wrappermain .linkfloat{float:left; width:105px; }
 .C_wrappermain .mt{margin-top:-5px}

.C_wrappermain .radioImg{width:375px;margin-right:10px}
.C_wrappermain .radioDiv{float:left;width:385px;overflow:hidden;padding-left:40px;position:relative}
.C_wrappermain .h4rightbot{margin-top:40px}



.C_wrappermain .radioCont{padding:0;margin-top:-70px;text-align:center;width:375px}
.C_wrappermain .radioCont input{height:30px;line-height:30px;padding-left:5px;border:0; padding:0;}
.C_wrappermain .indexNum{background:#fff; font-size:12px;color:#787878;width:100px;margin-right:5px;vertical-align:middle}
.C_wrappermain .indexSubmit{background:#fca000 url(img/indexSub.png) 65px center no-repeat;width:65px;padding-right:25px;text-align:center;line-height:30px;display:inline-block;*display:inline;zoom:1;background-size:25px 21px;color:#fff;vertical-align:middle}
.C_wrappermain .indexnoSubmit{background:#6a6967 url(img/indexSub.png) 65px center no-repeat;width:65px;padding-right:25px;text-align:center;line-height:30px;display:inline-block;*display:inline;zoom:1;background-size:25px 21px;color:#fff;vertical-align:middle}
.C_wrappermain  .indexYzm{width:80px;font-size:12px;color:#787878;margin-right:5px;vertical-align:middle}
.C_wrappermain  .yzmImg{width:60px;height:30px;vertical-align:middle;margin-right:5px;}
.C_wrappermain .radiotip{padding-left:10px;text-align:center;padding-bottom:30px}
.C_wrappermain .radiotip2{margin-left:92px}




/*C组变形样式D*/
.D_wrappermain{width:2722px;height:511px;position:relative; z-index:0;overflow:hidden}
.D_wrappermain .ulandright{width:3052px;_width:2630px;height:468px}
.D_wrappermain .uldaceng{width:2722px; height:100%; list-style:none;margin:0;position:relative;padding:10px 0px 0px 0px;z-index: 2;float:left;_width:2285px}
.D_wrappermain .uldaceng li{float:left; margin-right:16px;margin-bottom:10px}
.D_wrappermain .A_tile{font-size:19px; text-align:left; display:inline-block;line-height:40px;margin:0;font-weight:normal;}
.D_wrappermain .A_bottom{font-size:16px; }
.D_wrappermain .A_righthidden{position: absolute;right: 0;height: 100%;background-color:rgb(82, 56, 49);display: block;float: right;text-align: right;z-index: 4;width:50%;_right:-1px}
.D_wrappermain .A_bg{ position:relative;margin-left:-40px; margin-top:-37px; top:50%; left:50%;}
.D_wrappermain .A_group,.A_change{height:130px;margin:0 7px 7px 0}
.D_wrappermain .A_group{width:269px;}
.D_wrappermain .A_change{width:130px}
.D_wrappermain .A_Fbtm,.D_wrappermain .A_Ftop{height:100%;width:100%; position:absolute}
.D_wrappermain .A_link11,.D_wrappermain .A_link31,.D_wrappermain .A_link1,.D_wrappermain .A_link2,.D_wrappermain .A_link3{margin-bottom:24px;width:35px; height:28px;padding:12px 18px }
.D_wrappermain .A_linkafter{margin-bottom:24px;width:35px; height:28px;padding:12px 18px }
.D_wrappermain .A_linkleft{ padding:91px 0; float:left; background:#1a3f4c}
.D_wrappermain .A_linkright{float:left;height:380px;position:relative;margin-top:50px;font-size:13px;line-height:25px}
.D_wrappermain .A_linkright  .linkfloat a {display:block; margin-bottom:5px; margin-right:20px;line-height:15px;text-align:left; cursor:pointer;font-size:13px;width:100px;}
.D_wrappermain .sub{padding:0px 20px}
.D_wrappermain .left{float:left;display:block;position:absolute;top:472px ;line-height:33px; font-size:12px;}

.D_wrappermain .A_copyright{line-height:33px;font-size:12px;position:absolute;right:0;top:472px }
.D_wrappermain .A_linkfont{font-size:17px}
.D_wrappermain .li1{width:430px;} 
.D_wrappermain .li2{width:300px}
.D_wrappermain .li3{width:938px;}
.D_wrappermain  .h4leftbot{float:left; width:417px}
.D_wrappermain  .h4rightbot{float:left; width:71px;height:100%;margin-bottom:8px}
.D_wrappermain .gaodu{_height:410px;_overflow:hidden}
.D_wrappermain .A_linkrightbg{position:absolute;top:0; left:0; width:100%;height:100px ;z-index:20px;height:410px; width:380px}
.D_wrappermain .touming{ position:absolute;top:0; left:0; width:100%;height:100px;padding: 10px 0px 10px 20px;width:360px;z-index:30px;}
.D_wrappermain .linkfloat{float:left; width:120px; }
 .D_wrappermain .mt{margin-top:35px}
 .D_wrappermain .radioImg{width:410px;margin-right:10px}
.D_wrappermain .radioDiv{float:left;width:420px;overflow:hidden;padding-left:30px;position:relative}
.D_wrappermain .h4rightbot{margin-top:40px}


.D_wrappermain .radioCont{padding:0 ;margin-top:-75px;text-align:center;width:410px}
.D_wrappermain .radioCont input{height:30px;line-height:30px;padding-left:5px;border:0; padding:0;}
.D_wrappermain .indexNum{background:#fff; font-size:12px;color:#787878;width:100px;margin-right:5px;vertical-align:middle}
.D_wrappermain .indexSubmit{background:#fca000 url(img/indexSub.png) 70px center no-repeat;width:75px;padding-right:25px;text-align:center;line-height:30px;display:inline-block;*display:inline;zoom:1;background-size:25px 21px;color:#fff;vertical-align:middle}
.D_wrappermain .indexnoSubmit{background:#6a6967 url(img/indexSub.png) 70px center no-repeat;width:75px;padding-right:25px;text-align:center;line-height:30px;display:inline-block;*display:inline;zoom:1;background-size:25px 21px;color:#fff;vertical-align:middle}
.D_wrappermain  .indexYzm{width:80px;font-size:12px;color:#787878;margin-right:5px;vertical-align:middle}
.D_wrappermain  .yzmImg{width:60px;height:30px;vertical-align:middle;margin-right:5px;}
.D_wrappermain .radiotip{padding-bottom:5px;text-align:center;padding-bottom:20px;}
.D_wrappermain .radiotip2{margin-left:110px}


/*换肤弹出层*/
.skinpop{width: 720px;background: #fff;color: #000;height: 270px;top: 50%;left: 50%;margin-left: -360px;margin-top: -150px;z-index: 81;position:fixed;position:absolute; }
.changeskinbg{background:#00aaa9;height:35px; width:auto;padding-left:28px;font-size:16px; color:#fff; text-align:left;margin:0;line-height:35px}
.changeskinP{background:url(img/skin.png) left center no-repeat; margin:0;padding-left:30px;margin-right:20px}
.chskinmain{padding:0 10px;margin:30px 0px;}
.skin li{list-style :none;width:142px; height :90px; float:left;font-size:14px;line-height:40px;padding:15px; text-align:center}
.skinbut{height:30px;color:#000; display:block; float:left;width:50px;margin:0  ;padding-left:10px}
.bt1{ text-align:center;display:block; border:0}
.bt1 a{margin:0 20px; border:0; padding:4px 22px;background:#FFF;color:#000; font-size:16px; cursor:pointer;}/*原为padding:2 22px;改个人中心确定按钮*/
body .bt1 .hot{background:#00aaa9; color:#FFF; display:inline-block; display: -moz-inline-stack;
display: inline-block;
zoom: 1;
*display: inline;
width:35px; height:20px;}
.bt1 a:hover{background:#ff1d77;}
.skinbuts,.unskinbuts{width:12px; height:13px;display: block; overflow:hidden;margin-top:15px; float:left;}
.skinbuts{background:url(img/radioW.gif) no-repeat; }
.unskinbuts{background:url(img/radioW.gif) no-repeat  ;background-position:0px -31px }

#about_us a{cursor:default}
/*首页鼠标移动到信息图标上的提示*/
.logoTip,.userTip,.userTip2,.userTip3{background:#fff;color:#000;border:1px solid #dcdcdc;z-index:48;}
.logoTip{margin-top:40px;}
.userTip{margin-top:15px;width:27px;font-size:small}
.userTip2{margin-top:15px;width:55px;font-size:small} 
.userTip3{margin-top:15px;width:42px;font-size:small}


/*加*/
.youlian{border-bottom:1px solid #fff;color:#fff;}
.browser{font-size:18px;line-height:30px;text-align:center;}
.logo360{color:#00aaa9;padding-left:25px;background:url(img/360-Browser-logo.gif) no-repeat left center;margin-right:20px;}
.logoie{color:#00aaa9;padding-left:27px;background:url(img/ie-logo.gif) left center no-repeat}
.logo360:hover,.logoie:hover{color:#f00}

/*bxt*/
.bxttop{font-size:14px;color:#00aaa9;margin:0;background:#fff url(img/bxtborB.gif) left bottom repeat-x ;  }
.bxttipP{padding:25px 40px;margin:0;}
.bxttipP p{margin:0px}
.indent2{text-indent:2em}
.bxttip{background:#00aaa9;margin:0px;position:absolute;width: 470px; height:auto;z-index:20;right:0px;top:0px;padding:20px 0px}
.bxttip .bt1{padding-bottom:30px}
.bxttip .bt1 a{background:#00aaa9;color:#fff;padding:4px 22px;}
.bxttitile{text-align:center;font-size:20px;padding-top:35px;margin:0;line-height:30px;background:url(img/bxtborT.gif) left top repeat-x;}
.bxtimgbg{position:absolute;left:-45px;bottom:30px}
.marL20{margin-left:1.3em}
.F18{font-size:18px}
.l2-5{ line-height:2.5em;}
.l2-0{line-height:2.0em;}
.l1-5{line-height:1.5em;}
 .tip_A {width:990px;height:500px;background:url(img/a1.jpg ) no-repeat left bottom;position:absolute;z-index:21}
  .tip_B {width:845px;height:430px;background:url(img/b1.jpg ) no-repeat left bottom;position:absolute;z-index:21}
    .tip_C {width:760px;height:390px;background:url(img/c1.jpg ) no-repeat left bottom;position:absolute;z-index:21}
      .tip_D {width:785px;height:400px;background:url(img/d1.jpg ) no-repeat left bottom;position:absolute;z-index:21}
      /*20140826*/
      .celimg {
    background: url(/css/style1/img/cel1.png) no-repeat center center;
    width: 137px;
    height: 46px;
    margin-left:30px;
    cursor:pointer;
    display:inline-block;
    zoom:1;
    *display:inline;
}
    .celimg:hover {
        background: url(/css/style1/img/cel2.png) no-repeat center center;
    }

