<include file="common:common" />
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
        <!-- Page Head -->
    <h2>用户管理</h2>

    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>查看用户</h3>
        <ul class="content-box-tabs">
          <!--<li><a href="#tab1" class="default-tab">Table</a></li>-->
          <!-- href must be unique and match the id of target div -->
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
        
          <table>
            <thead>
              <tr>
                <th>
                  <!--<input class="check-all" type="checkbox" />-->
                </th>
                <th>用户账号</th>
                <!--<th>ISBN号</th>
                <th>用户名</th> 
                <th>书名</th>
                <th>版本</th>
                <th>借书日期</th>-->
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="6">
                  <div class="pagination">
                    {$show}
                  </div>
                  <!-- End .pagination -->
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <volist name="requests" id="request"> 
              <tr>
                <td>
                  <!--<input type="checkbox" />-->
                </td>
                <td>{$request['admin_Name']}</td>
                <!--<td>{$request['bookid']}</td>
                <td>{$request['username']}</td>
                <td>{$request['bookname']}</td>
                <td>{$request['version']}</td>
                <td>{$request['date']}</td>-->
                <td>
                  <!-- Icons -->
                  <!--<a href=<?="__APP__/Home/Request/modifyRequest?bookid=".$request['bookid'].'&userid='.$request['userid']; ?> title="Edit"><img src="__ROOT__/admin/Home/Common/resources/images/icons/pencil.png" alt="Edit" /></a>--> <a href=<?="__APP__/Home/Admin/delete/name/".$request['admin_Name'];?> title="Delete"><img src="__ROOT__/admin/Home/Common/resources/images/icons/cross.png" alt="Delete" /></a></td>
              </tr>
              </volist>
            </tbody>
          </table>
        </div>
        <!-- End #tab1 -->
        
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
<include file="common:footer" />