<include file="Main:header" /><!--包含到页面头部的标题和导航条-->
             
<div class="single_car"><!--主体容器显示目标车辆的基本信息和详细信息-->
        <div class='navbar navbar-inverse'>
            <div class='nav-collapse'>
                <div class="s_image">
                    <img src="{$request['picture']}">           
                </div>
                <div class="s_right">
                    <h2>{$request['description']}</h2>        
                    <p>参考价：<strong>&yen;{$request['price']}万</strong></p>
                    <p>限量：<strong>{$request['stock']}台</strong></p>
                    <p>咨询电话：<strong>400-8888-888</strong></p>     
                    <span><a href="#" id="Buy"><img src="__ROOT__/home/Home/Common/main/image/61.png" width=15% heght=50% /></a></span>
                    <span><img src="__ROOT__/home/Home/Common/main/image/60.png" width=15% heght=50% /></span>               
               </div>
            </div>
        </div><hr>
</div><!--End single_car-->


 <div id="s_detail">
    <div id="tabs">
    <ul>
     <li><a href="#tabs-1">基本信息</a></li>
     <li><a href="#tabs-2">车身参数</a></li>
     <li><a href="#tabs-3">发动机参数</a></li>
     <li><a href="#tabs-4">技术参数</a></li>
     <li><a href="#tabs-5">保修政策</a></li>
     <li><a href="#tabs-6">累计评价(3)</a></li>
    </ul>            
    <div id="tabs_container">
        <div id="tabs-1">
            <table border="0" width=100% align="center" cellpadding="4">
              <tr>
                <td>品牌：</td><td>{$request['brand']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                   
                <td>型号：</td><td>{$request['model']}</td>
              </tr>
              <tr>
                <td>级别：</td><td>{$request['type']}</td> 
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                 
                <td>限量：</td><td>{$request['stock']}</td>               
              </tr>
            </table><hr>
          </div>
         <div id="tabs-2">
            <table border="0" width=100% align="center" cellpadding="4">
              <tr>
                <td>长：</td><td>{$request['length']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                   
                <td>宽：</td><td>{$request['width']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>高：</td><td>{$request['height']}</td>
              </tr>
              <tr>
                <td>结构：</td><td>{$request['door']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                  
                <td>车重：</td><td>{$request['weight']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>轴距：</td><td>{$request['wheelbase']}</td>               
              </tr>
              <tr>
                <td>油箱容积：</td><td>{$request['fuelTank']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>行李箱容积：</td><td>{$request['trunkSpace']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>最小离地间隙：</td><td>{$request['groundClearance']}</td>
              </tr>                        
            </table><hr>
        </div>
         <div id="tabs-3">
                 <table border="0" width=100% align="center" cellpadding="4">
              <tr>
                <td>变速箱：</td><td>{$request['gearbox']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>最高车速：</td><td>{$request['maxSpeed']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>保修政策：</td><td>{$request['guarantee']}</td>  
              </tr>
              <tr>
                <td>挡位个数：</td><td>{$request['gearNum']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>驱动方式：</td><td>{$request['driveType']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   
                <td>助力类型：</td><td>{$request['resistanceType']}</td               
              </tr>       
            </table><hr>
        </div>
        <div id="tabs-4">
              <table border="0" width=100% align="center" cellpadding="4">
              <tr>
                <td>排量：</td><td>{$request['displacement']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                
                <td>进气形式：</td><td>{$request['intake']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>汽缸数：</td><td>{$request['cylinder']}
              </tr>
              <tr>
                <td>最大功率：</td><td>{$request['maxPower']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>               
                <td>最大扭矩：</td><td>{$request['maxTorque']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>燃油标号：</td><td>{$request['fuelLabel']}               
              </tr>  
              <tr>
                <td>供油方式：</td><td>{$request['oilFeed']}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>环保标准：</td><td>{$request['environmental']}
              </tr>                   
            </table><hr>
        </div>
    <div id="tabs-5">
<h4>一、保修期内，用户在规定的使用条件下使用，而车辆由于材料、装配及质量问题所造成的故障或零部件的损坏,经厂家授权维修站检验并确认后均由厂家提供无偿维修或更换相应备件。</h4>
<h4>二、购买新车后，厂家都会给用户一个“免费强制保养”，这次保养中的机油、机油滤芯等及相应的工时费由汽车公司支付。若用户不按规定的时间进行强制保养，就会被视为自动放弃保修和质量担保服务权利。</h4>
<h4>三 、在发生故障后，没有及时到维修店维修而继续使用所导致的故障扩大，厂家会酌情赔偿引发原事故的原零部件，而扩大部分的损失由车主自己负责。</h4>
<h4>四 、对于服务站维修操作不当造成的损坏,服务站应当承担由此产生的责任并进行修复；因车辆故障引起的附加费损失均不属于质量担保范围。</h4><hr>
  </div><!--End tabs-5-->
    <div id="tabs-6"> 
     <form action="" method="">    
        <input type="text" placeholder="说点什么吧..." value=""required/>
        <button type="submit" class="btn btn-primary" name="submit" value=""/>评价</button>
        <table border="0" width=100% align="center" cellpadding="10">
              <tr>
                <td>xiaoyajie:</td>
                <td>今天把它带回家了,在外面兜风了一晚上!开心！</td>
              <tr>               
                <td>龙女：</td>
                <td>这辆车支不支持贷款啊？首付是多少？</td>  
              </tr>
              <tr>               
                <td>婷婷：</td>
                <td>已经预定了，不知道是如何，期待看到产品！</td>
              </tr>
        </table>
    </form> 
    </div><!--End tabs-6-->
  </div><!--End tabs container-->
</div><!--End tabs-->
</div><!--End s_detail-->
    
<script type="text/javascript" >

    T$('Buy').onclick = function(){
        
          var url = "http://"+window.location.hostname+":"+window.location.port+'/cargo/index.php/Home/Main/order/id/'+{$request['id']};
          TINY.box.show(url,1,400,270,1)

    }//弹出填写购车需求的窗口

        $(document).ready(function($) {
            $('#tabs').tabulous({effect: 'scaleUp' });
        });//参数表tabs的js

</script>

<div class="clearfix"></div>
<include file="Main:footer" />
